# Assets for local EZproxy binary
ezproxy
wskey.key
ezproxy.ipc
ezproxy.hst
ezproxy.log
ezproxy.rnd
messages.txt
secrets/
ssl/

# Contains sensitive authentication configuration.
ezproxy.usr

# contains environment specific deployment flag.
flag.txt

*.swp
.idea/
