# Assets for local EZproxy binary
ezproxy
ezproxy.ftl
ezproxy.ipc
ezproxy.hst
ezproxy.log
ezproxy.rnd
ezproxy-linux.bin
ezproxy-linux-sha256sum.txt
messages.txt
wskey.key
environment/
security/
ssl/

# Contains sensitive authentication configuration.
ezproxy.usr
.env

# contains environment specific deployment flag.
flag.txt

*.swp
.idea/
